* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'DynaPuff', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://images.pexels.com/photos/310452/pexels-photo-310452.jpeg");
}

.heading {
    font-size: 10rem;
    font-weight: 900;
    background-image: url("https://images.pexels.com/photos/1102915/pexels-photo-1102915.jpeg") ;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}