@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ff6e00;
  padding: 5px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  margin: 10px;
  position: relative;
  transition: widht 1.5s;
}

.input {
  margin: 10px 50px;
  margin-left: 20px;
  width: 100%;
  color: #ff6e00;
  border: none;
  background: transparent;
  outline: none;
  transition-delay: 0.5s;
}

.magnifier {
  position: absolute;
  right: 15px;
  width: 25px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  color: #ffa31a;
}

ul li {
  display: inline;
  margin-left: 40px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  padding: 3rem;
  box-shadow: 10px 10px 40px 5px #e0e0e0;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-container h1 {
  font-size: 2rem;
  color: #2c2c2c;
}

.content-container p {
  line-height: 1.4;
  margin-bottom: 2rem;
  color: #444444;
  width: 26rem;
}

.img {
  transform: translateX(-120px);
  margin-top: 1rem;
  width: 350px;
  height: 350px;
  border-radius: 15px;
  background: url("https://images.pexels.com/photos/8902173/pexels-photo-8902173.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ingredients {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 50px;
}

.ingredients span {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.ing {
  padding: 10px 20px;
  border: 2px solid #ff6e00;
  color: #ff6e00;
  border-radius: 100px;
}

.main-btn {
  background: transparent;
  border: none;
  border: 2px solid #ffa31a;
  padding: 10px;
  color: #ffa31a;
  border-radius: 10px;
}
